@page "/accounts/{Id}"
@using Application.Services.AccountService
@using Domain.Entities
@using Application.Interfaces

@inject IAccountService AccountService

<PageTitle>Account Detail</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" Class="py-8">
    <div class="mb-4">
        <MudButton Href="/accounts" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowBack">
            Back to Accounts List
        </MudButton>
    </div>

    @if (account == null)
    {
        <MudPaper Elevation="1" Class="pa-6">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="50px" Class="mb-4" />
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100px" />
        </MudPaper>
    }
    else
    {
        <MudPaper Elevation="1" Class="pa-6">
            <MudText Typo="Typo.h5" Class="mb-4">Account Details</MudText>
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudPaper Elevation="0" Class="pa-4" Style="background: var(--mud-palette-background-grey); border-radius: 4px;">
                        <MudText Typo="Typo.subtitle2" Color="Color.Default">Name</MudText>
                        <MudText Typo="Typo.h6">@account.Name</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudPaper Elevation="0" Class="pa-4" Style="background: var(--mud-palette-background-grey); border-radius: 4px;">
                        <MudText Typo="Typo.subtitle2" Color="Color.Default">Balance</MudText>
                        <MudText Typo="Typo.h6">@account.Balance.ToString("C")</MudText>
                    </MudPaper>
                </MudItem>
                @if (!string.IsNullOrEmpty(account.Number))
                {
                    <MudItem xs="12">
                        <MudPaper Elevation="0" Class="pa-4" Style="background: var(--mud-palette-background-grey); border-radius: 4px;">
                            <MudText Typo="Typo.subtitle2" Color="Color.Default">Account Number</MudText>
                            <MudText Typo="Typo.body1">@account.Number</MudText>
                        </MudPaper>
                    </MudItem>
                }
            </MudGrid>
            
            <MudDivider Class="my-6" />
            
            @* Corrected Justify and ensured closing tag exists *@
            <MudStack Row="true" Justify="Justify.FlexEnd">
                <MudButton Href="@($"/accounts/edit/{account.Id}")" 
                           Variant="Variant.Filled" 
                           Color="Color.Warning" 
                           StartIcon="@Icons.Material.Filled.Edit">
                    Edit Account
                </MudButton>
            </MudStack>
        </MudPaper>
    }
</MudContainer>

@code {
    [Parameter]
    public string Id { get; set; } = default!; 
    
    private Account? account;
    
    protected override async Task OnInitializedAsync()
    {
        account = await AccountService.GetAccountByIdAsync(Id);
    }
}