@page "/Liabilities/create"
@rendermode InteractiveServer
@using Domain.Entities
@using Application.Service.Liabilities
@using System.ComponentModel.DataAnnotations
@using Application.DTO
@inject ILiabilityService LiabilityService
@inject NavigationManager NavigationManager

<PageTitle>Create Liability</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" Class="py-4">
    <MudCard>
        <MudCardHeader>
            <MudText Typo="Typo.h4" Color="Color.Primary">
                <MudIcon Icon="@Icons.Material.Filled.RequestQuote" Class="mr-2" />
                Create Liability
            </MudText>
        </MudCardHeader>
        <MudCardContent>
            <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                @* <MudAlert Severity="Severity.Error" Class="mb-4" Icon="@Icons.Material.Filled.Error" Dense="true">
                    <ValidationSummary />
                </MudAlert> *@

                <div class="d-flex flex-column gap-3">
                    <MudTextField @bind-Value="Model.Name"
                                  Label="Name"
                                  Placeholder="Enter liability name"
                                  Variant="Variant.Outlined"
                                  FullWidth="true" />
                    <ValidationMessage For="@(() => Model.Name)" />

                    <MudTextField @bind-Value="Model.Type"
                                  Label="Type"
                                  Placeholder="Enter liability type"
                                  Variant="Variant.Outlined"
                                  FullWidth="true" />
                    <ValidationMessage For="@(() => Model.Type)" />

                    <MudTextField @bind-Value="Model.Value"
                                  Label="Value"
                                  Placeholder="Enter liability Value"
                                  Variant="Variant.Outlined"
                                  FullWidth="true"
                                  Lines="3" />
                    <ValidationMessage For="@(() => Model.Value)" />

                    
                </div>

                <div class="d-flex gap-3 gap-sm-2 mt-4">
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Success"
                               EndIcon="@Icons.Material.Filled.Save"
                               Size="Size.Medium"
                               FullWidth="false">
                        Create Liability
                    </MudButton>
                    <MudButton Href="/Liabilities"
                               Variant="Variant.Filled"
                               Color="Color.Error"
                               EndIcon="@Icons.Material.Filled.Cancel"
                               Size="Size.Medium"
                               FullWidth="false">
                        Cancel
                    </MudButton>
                </div>
            </EditForm>
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {
    private LiabilityCreateDTO Model { get; set; } = new();

    private async void OnValidSubmit()
    {
        LiabilityService.CreateLiability(Model);
        NavigationManager.NavigateTo("/Liabilities");
    }
}   
