@page "/assets/create"

@using Application.Interfaces
@using Domain.Entities
@using Application.DTO
@using Application.Services.Assets
@using System.ComponentModel.DataAnnotations

@rendermode InteractiveServer
@inject IAssetService AssetService
@inject NavigationManager Navigation

<PageTitle>Create Asset</PageTitle>


<link rel="stylesheet" href="css/form.css" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Create Asset</h3>
                @* <a href="/customers" class="btn btn-outline-secondary btn-sm">Back to list</a> *@
                <MudButton
                    Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="OnvalidSubmit">Back to List
                </MudButton>

            </div>
            <MudCard>
                <MudCardContent>
                    <EditForm Model="Model" OnValidSubmit="OnvalidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="row g-2 mb-2">
                            <div class="col-md-6">
                                <MudTextField @bind-Value="Model.Name" Label="Name" Variant="Variant.Outlined"></MudTextField>
                                <ValidationMessage For="@(() => Model.Name)" />
                            </div>
                            <div class="col-md-6">
                                <MudTextField @bind-Value="Model.Type" Label="Type" Variant="Variant.Outlined"></MudTextField>
                                <ValidationMessage For="@(() => Model.Type)" />
                            </div>
                            <div class="col-md-6">
                                <MudTextField @bind-Value="Model.Value" Label="Value" Variant="Variant.Outlined"></MudTextField>
                                <ValidationMessage For="@(() => Model.Value)" />
                            </div>
                            @* <button type="submit" class="btn btn-primary mt-3">Create</button> *@
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info"  Size="Size.Small" OnClick="OnvalidSubmit">Save</MudButton>
                        </div>
                    </EditForm>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
</div>
@code {
     private AssetCreateDTO Model { get; set; } = new();
    
    private void OnvalidSubmit()
    {
        AssetService.CreateAsset(Model);
        Navigation.NavigateTo("/assets");
    }
}
